<!DOCTYPE html>
<html>
<head>
   <title>Dollar Rates</title>
   <link rel="stylesheet" type="text/css" href="/view.css">
</head>
<body>
   <h1>Dollar Rates</h1>
   <table class="tabili">
       <tr>
           <th>Currency</th>
           <th>DolToAllRate (USD Value)</th>
           <th>Final Dollar Rate (USD * User's Rate)</th>
       </tr>
       <% for (const currency in dolToAllRate) { %>
           <tr>
               <td><%= currency %></td>
               <td><%= dolToAllRate[currency] %></td>
               <td><%= finalDollarRate[currency] %></td>
           </tr>
       <% } %>
   </table>


   <form action="/user/dashboard/finalconvert" method="post">
    <button class="btn" type="submit">Proceed</button>
</body>
</html>
